:root {
    --color-background: #F3F5FC;
    --color-text-message-black: #343A40;
    --color-text-message-blue: #0A3871;
    --color-button-blue: #0A3871;
    --color-button-grey: #D8DFE8;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: var(--color-background);
    font-family: 'Inter', sans-serif;
}
.container {
    width: 90%;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

/* title*/

.title__main {
    text-align: center;
    margin-top: -50px;
    font-size: 52px;
    color: #0A3871;
}

/* Parte izquierda */

.container-content {
    width: 70%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}
.container-text {
    width: 90%;
    height: 70%;
    margin: 0 auto;
}
.alert-actived {
    color:red;
}
.text-desencriptar {
    width: 100%;
    height: 100%;
    padding: 12px 20px;
    resize: none;
    border: 0;
    border-radius: 10px;
    outline: none;
    box-shadow: 0px 24px 32px -8px rgba(154, 154, 154, 0.2);
    overflow-wrap: break-word;
    background-color: var(--color-background);
}
.text-desencriptar-alert{
    border: 2px solid red;
}
.text-desencriptar, .text-desencriptar:focus {
    /* color: var(--color-text-message-blue); */
    background-color: #FFFFFF ;
    font-size: 28px;
    text-align: center;

}
.text-desencriptar::placeholder {
    color: var(--color-text-message-blue);
    font-size: 32px;
}

.container-buttons {
    display: flex;
    justify-content: center;
    gap: 24px;
}
.btn-encriptar {
    padding: 24px 75px;
    background-color: var(--color-button-blue);
    border: 2px solid var(--color-button-blue);
    border-radius: 24px;
    position: relative;
    overflow: hidden;
    text-align: center;
    font-size: 16px;
    transition: .3s;
    z-index: 1;
    font-family: inherit;
    color: white;
    cursor: pointer;
}  
.btn-encriptar::before {
    content: '';
    width: 0;
    height: 600%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background: white;
    transition: .5s ease;
    display: block;
    z-index: -1;
}
.btn-encriptar:hover::before {
    width: 105%;
}
.btn-encriptar:hover {
    color: var(--color-text-message-blue);
}
.btn-encriptar:active {
    transform: scale(0.8);
}


/* Parte derecha */

.container-resultado {
    width: 30%;
    min-width: 300px;
    height: 90vh;
    padding: 20px;
    background-color: #FFFFFF;
    border-radius: 32px;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    overflow: hidden;
}
.container-text-default { /*Message default*/
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container-text-encriptado {
    text-align: center;
    color: var(--color-text-message-black);
    font-weight: 700;
    font-size: 24px;
}
.text-message-normal {
    margin-top: 16px;
    font-weight: normal;
    font-size: 16px;
}

.img__alert {
    width: 16px;
    height: 16px;
}

.alert__disabled {
    text-align: center;
    padding: auto;
}

/* Parte derecha cuando se encripta algo */

.container-context-resultado { /*Message resolución*/
    width: 100%;
    height: 100%;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    word-wrap: break-word;
}
.text-message-resultado {
    width: 100%;
    line-height: 150%;
    /* color: #495057; */
    color: #000;
    text-align: center;
    font-size: 20px;
}

.btn-copiado {
    color: #fff !important;
}

.btn-text {
    display: flex;
    justify-content: center;
    gap: 24px;
}
/* Media queries */

@media  (max-width: 768px) {
    /* parte superior */
    .container {
        width: 95%;
        flex-direction: column;
    }
    .container-content {
        width: 100%;
    }
    .container-text {
        width: 100%;
        margin: 0;
        display: flex;
        flex-direction: column;
    }
    .container-text p{
        padding: 10px 0;
    }
    .container-buttons a{
        padding: 24px 15%;
        gap: 15px;
    }
    /* Parte inferior */
    .container-resultado {
        width: 100%;
        height: 30vh;
    }
    .container-img {
        display: none;
    }
}

@media  (max-width: 415px) {
    .container {
        width: 99%;
    }
    .logo{
        width: 20px;
    }
    .container-content {
        padding: 5px;
    }
    .container-buttons {
        flex-direction: column;

    }
    .container-buttons a{
        padding: 20px 10%;
        text-align: center  ;
    }
    .container-text {
        width: 100%;
    }
    .text-desencriptar {
        padding: 10px;
        font-size: 18px;
    }
    .text-desencriptar, .text-desencriptar:focus {
        font-size: 18px;
    }
    .text-desencriptar::placeholder {
        font-size: 18px;
    }
    .container-resultado {
        width: 100%;
        min-width: none;
    }
}

/* Botones */

* {
    box-sizing: border-box;
}

#svg-img {
    position: absolute;
    top: -4000px;
    left: -4000px;
}

.gooey-button {
    padding: 1rem;
    font-size: 2rem;
    border: none;
    color: #fff;
    filter: url("#gooey");
    position: relative;
    background-color: #0a3871;
}

.gooey-button:focus {
    outline: none;
}

.gooey-button .bubbles {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.gooey-button .bubbles .bubble {
    background-color: #0a3871;
    border-radius: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    z-index: -1;
}

.gooey-button .bubbles .bubble:nth-child(1) {
    left: 70px;
    width: 25px;
    height: 25px;
    -webkit-animation: move-1 3.02s infinite;
    animation: move-1 3.02s infinite;
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

.gooey-button .bubbles .bubble:nth-child(2) {
    left: 43px;
    width: 25px;
    height: 25px;
    -webkit-animation: move-2 3.04s infinite;
    animation: move-2 3.04s infinite;
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
}

.gooey-button .bubbles .bubble:nth-child(3) {
    left: 16px;
    width: 25px;
    height: 25px;
    -webkit-animation: move-3 3.06s infinite;
    animation: move-3 3.06s infinite;
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
}

.gooey-button .bubbles .bubble:nth-child(4) {
    left: 91px;
    width: 25px;
    height: 25px;
    -webkit-animation: move-4 3.08s infinite;
    animation: move-4 3.08s infinite;
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
}

.gooey-button .bubbles .bubble:nth-child(5) {
    left: 27px;
    width: 25px;
    height: 25px;
    -webkit-animation: move-5 3.1s infinite;
    animation: move-5 3.1s infinite;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}

.gooey-button .bubbles .bubble:nth-child(6) {
    left: 55px;
    width: 25px;
    height: 25px;
    -webkit-animation: move-6 3.12s infinite;
    animation: move-6 3.12s infinite;
    -webkit-animation-delay: 1.2s;
    animation-delay: 1.2s;
}

.gooey-button .bubbles .bubble:nth-child(7) {
    left: 54px;
    width: 25px;
    height: 25px;
    -webkit-animation: move-7 3.14s infinite;
    animation: move-7 3.14s infinite;
    -webkit-animation-delay: 1.4s;
    animation-delay: 1.4s;
}

.gooey-button .bubbles .bubble:nth-child(8) {
    left: 57px;
    width: 25px;
    height: 25px;
    -webkit-animation: move-8 3.16s infinite;
    animation: move-8 3.16s infinite;
    -webkit-animation-delay: 1.6s;
    animation-delay: 1.6s;
}

.gooey-button .bubbles .bubble:nth-child(9) {
    left: 52px;
    width: 25px;
    height: 25px;
    -webkit-animation: move-9 3.18s infinite;
    animation: move-9 3.18s infinite;
    -webkit-animation-delay: 1.8s;
    animation-delay: 1.8s;
}

.gooey-button .bubbles .bubble:nth-child(10) {
    left: 16px;
    width: 25px;
    height: 25px;
    -webkit-animation: move-10 3.2s infinite;
    animation: move-10 3.2s infinite;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
}

.gooey-button:active{
    transform: scale(0.9);
}
@-webkit-keyframes move-1 {
    0% {
        transform: translate(0, 0);
    }

    99% {
        transform: translate(0, -127px);
    }

    100% {
        transform: translate(0, 0);
        opacity: 0;
    }
}

@keyframes move-1 {
    0% {
        transform: translate(0, 0);
    }

    99% {
        transform: translate(0, -127px);
    }

    100% {
        transform: translate(0, 0);
        opacity: 0;
    }
}

@-webkit-keyframes move-2 {
    0% {
        transform: translate(0, 0);
    }

    99% {
        transform: translate(0, -55px);
    }

    100% {
        transform: translate(0, 0);
        opacity: 0;
    }
}

@keyframes move-2 {
    0% {
        transform: translate(0, 0);
    }

    99% {
        transform: translate(0, -55px);
    }

    100% {
        transform: translate(0, 0);
        opacity: 0;
    }
}

@-webkit-keyframes move-3 {
    0% {
        transform: translate(0, 0);
    }

    99% {
        transform: translate(0, -85px);
    }

    100% {
        transform: translate(0, 0);
        opacity: 0;
    }
}

@keyframes move-3 {
    0% {
        transform: translate(0, 0);
    }

    99% {
        transform: translate(0, -85px);
    }

    100% {
        transform: translate(0, 0);
        opacity: 0;
    }
}

@-webkit-keyframes move-4 {
    0% {
        transform: translate(0, 0);
    }

    99% {
        transform: translate(0, -90px);
    }

    100% {
        transform: translate(0, 0);
        opacity: 0;
    }
}

@keyframes move-4 {
    0% {
        transform: translate(0, 0);
    }

    99% {
        transform: translate(0, -90px);
    }

    100% {
        transform: translate(0, 0);
        opacity: 0;
    }
}

@-webkit-keyframes move-5 {
    0% {
        transform: translate(0, 0);
    }

    99% {
        transform: translate(0, -58px);
    }

    100% {
        transform: translate(0, 0);
        opacity: 0;
    }
}

@keyframes move-5 {
    0% {
        transform: translate(0, 0);
    }

    99% {
        transform: translate(0, -58px);
    }

    100% {
        transform: translate(0, 0);
        opacity: 0;
    }
}

@-webkit-keyframes move-6 {
    0% {
        transform: translate(0, 0);
    }

    99% {
        transform: translate(0, -94px);
    }

    100% {
        transform: translate(0, 0);
        opacity: 0;
    }
}

@keyframes move-6 {
    0% {
        transform: translate(0, 0);
    }

    99% {
        transform: translate(0, -94px);
    }

    100% {
        transform: translate(0, 0);
        opacity: 0;
    }
}

@-webkit-keyframes move-7 {
    0% {
        transform: translate(0, 0);
    }

    99% {
        transform: translate(0, -55px);
    }

    100% {
        transform: translate(0, 0);
        opacity: 0;
    }
}

@keyframes move-7 {
    0% {
        transform: translate(0, 0);
    }

    99% {
        transform: translate(0, -55px);
    }

    100% {
        transform: translate(0, 0);
        opacity: 0;
    }
}

@-webkit-keyframes move-8 {
    0% {
        transform: translate(0, 0);
    }

    99% {
        transform: translate(0, -111px);
    }

    100% {
        transform: translate(0, 0);
        opacity: 0;
    }
}

@keyframes move-8 {
    0% {
        transform: translate(0, 0);
    }

    99% {
        transform: translate(0, -111px);
    }

    100% {
        transform: translate(0, 0);
        opacity: 0;
    }
}

@-webkit-keyframes move-9 {
    0% {
        transform: translate(0, 0);
    }

    99% {
        transform: translate(0, -123px);
    }

    100% {
        transform: translate(0, 0);
        opacity: 0;
    }
}

@keyframes move-9 {
    0% {
        transform: translate(0, 0);
    }

    99% {
        transform: translate(0, -123px);
    }

    100% {
        transform: translate(0, 0);
        opacity: 0;
    }
}

@-webkit-keyframes move-10 {
    0% {
        transform: translate(0, 0);
    }

    99% {
        transform: translate(0, -52px);
    }

    100% {
        transform: translate(0, 0);
        opacity: 0;
    }
}

@keyframes move-10 {
    0% {
        transform: translate(0, 0);
    }

    99% {
        transform: translate(0, -52px);
    }

    100% {
        transform: translate(0, 0);
        opacity: 0;
    }
}

/* responsive */

@media  screen and (max-width: 400px) {
    .title__main {
        text-align: center;
        margin-top: -9px;
        font-size: 31px;
        color: #0A3871;
        padding: 7px;
    }
    #svg-logo{
        display: none;
    }
}